html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color : greenyellow;
    min-height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

button{
    font-size: 48px;
    background-color: greenyellow;
    border-radius: 12px;
    margin-top: 50px;
}

.game-status{
    display: flex;
    justify-content: space-between;
    font-size: 42px;
    margin-top: 50px;
    width: 70%;
}

.player-choice, .computer-choice{
    font-size: 60px;
    text-align: center;
    padding: 24px;
}

.game-message{
    display: flex;
    justify-content: center;
    font-size: 42px;
}

