html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color : greenyellow;
    border-color: red;
    border-style: solid;
    min-height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

button{
    font-size: 36px;
    background-color: greenyellow;
    border-radius: 12px;
}

.game-status{
    width: 80%;
}

.game-message{
    display: flex;
    justify-content: center;
    font-size: 42px;
}

.scores{
    display: flex;
    justify-content: space-between;
    gap: 42px;
    font-size: 42px;
}
